@charset utf-8;

svg {
  width: 900px;
  height: 550px;
}
.graph-container {
  width: 900px;
  height: 550px;
  margin: auto;
}

.bar {
	fill: #003A70;
}
.bar:hover {
	fill: #8AC6FF;
  transition: fill 0.15s;
}
text {
  font-family: "franklin-gothic-urw", helvetica, sans serif;
  font-weight: 400;
  font-size: 12px;
  color: #000000;
}
.x-axis path{
  stroke: #000;
  stroke-width: 1px;
  opacity: 1;
}
.y-axis path{
  display: none;
}
.tick line {
  fill: none;
  stroke: #BDC2C6;
  stroke-width: 1px;
  shape-rendering: crispEdges;
}

.y line {
  display: none;
}
.toolTip {
  font-family: "franklin-gothic-urw", helvetica, sans serif;
  font-size: 12px;
	position: absolute;
  pointer-events: none;
  display: none;
  min-width: 50px;
  height: auto;
  background: none repeat scroll 0 0 #ffffff;
  padding: 9px 14px 6px 14px;
  border-radius: 2px;
  text-align: center;
  line-height: 1.3;
  color: #5B6770;
  box-shadow: 0px 3px 9px rgba(0, 0, 0, .15);
}
.toolTip:after {
  content: "";
  width: 0;
  height: 0;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-top: 12px solid white;
  position: absolute;
  bottom: -10px;
  left: 50%;
  margin-left: -12px;
}
.toolTip span {

  font-weight: 700;
  color: #081F2C;
}
.center-align{
  width: 100%;
  margin: 0 auto;
  text-align: center;
}
.title{
  font-size: 20px;
  font-family: "franklin-gothic-urw", helvetica, sans serif;
  font-weight: 700;
}
.source-container {
    width: 50%;
    font-family: serif;
    font-size: 13px;
    padding: 20px 0;
      text-align: left;
      display:inline-block
}
.left-align{
  margin-right: auto;
}
.right-align{
  margin-left: auto;
}
.logo-container {
    width: 50%;
    float: right;


}
#info-container-1{
  width: 100%;
  float: left;
  padding-bottom: 20px;
}
#source_content {
  position: relative;
  top: 0;
  max-height: 50px;
}
#logo_content {
  display: block;
  margin-left: auto;
  margin-top: 10px;
  width: 40%;
}
/* Mobile Styles */
@media only screen and (max-width: 720px) {
  .graph-container {
    width: 400px;
    height: 325px;
    margin: 0 auto;
  }
#graphsvg{
  width: 400px;
  height: 325px;
}
  .logo-container {
    display:none;
  }
  .source-container{
    text-align: center;
    width: 100%;
  }
  #info-container-1{
    width: 100%;
  }
  .title-container{
    padding: 0 20px;
    max-width: 300px;
  }

}
